<ion-header [translucent]="true">
  <app-topbar [title]="pokemonName"></app-topbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-grid class="page-content full-height">
    <ion-row class="ion-justify-content-center equal-height ">
      <!-- Card 1 -->
      <ion-col size="12" size-md="4">
        <app-pokemon-details-card [pokemonDetails]="pokemonDetails" [description]="description">
          </app-pokemon-details-card>
      </ion-col>

      <!-- Card 2 -->
      <ion-col size="12" size-md="8">
        <app-pokemon-stats-card [pokemonDetails]="pokemonDetails"></app-pokemon-stats-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab *ngIf="pokemonDetails" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="toggleFavorite()" color="primary">
      @if (isFavorite) {
        <ion-icon name="heart"></ion-icon>
      } @else {
        <ion-icon name="heart-outline"></ion-icon>
      }
    </ion-fab-button>
  </ion-fab>
</ion-content>