ion-card {
  --ion-text-color: #222;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

ion-card ion-img {
  max-width: 100px;
  margin: 0 auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

ion-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-card:hover ion-img {
  transform: scale(1.1);
  filter: drop-shadow(0 0 2px red) drop-shadow(0 0 2px red);
}

/* Novo wrapper flexível */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo para telas pequenas */
@media (max-width: 600px) {
  .card-content {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
  }

  ion-card-title {
    font-size: 1.2rem;
  }

  ion-card-header {
    padding: 0;
  }

  ion-card ion-img {
    margin: 0;
  }
}
