ion-card {
    --ion-text-color: #222;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

ion-img {
    max-width: 100px;
    margin: 0 auto;
}

ion-card ion-img {
  border-radius: 8px;
  transition: transform 0.3s ease;
}

ion-card:hover ion-img {
  transform: scale(1.1);
}
