<ion-header [translucent]="true">
  <app-topbar ></app-topbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-pokemon-card-list [pokemons]="pokemons()"></app-pokemon-card-list>
  
  <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais pokémons...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-text *ngIf="pokemons().length === 0">
    <p>Carregando pokémons...</p>
  </ion-text>
</ion-content>