/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.equal-height {
  align-items: stretch;
}

.page-content{
    max-width: 60rem;
}

.chip-normal    { --color: #000; --background: #A8A878; }
.chip-fire      { --color: #fff; --background: #F08030; }
.chip-water     { --color: #fff; --background: #6890F0; }
.chip-electric  { --color: #000; --background: #F8D030; }
.chip-grass     { --color: #fff; --background: #78C850; }
.chip-ice       { --color: #000; --background: #98D8D8; }
.chip-fighting  { --color: #fff; --background: #C03028; }
.chip-poison    { --color: #fff; --background: #A040A0; }
.chip-ground    { --color: #000; --background: #E0C068; }
.chip-flying    { --color: #000; --background: #A890F0; }
.chip-psychic   { --color: #fff; --background: #F85888; }
.chip-bug       { --color: #000; --background: #A8B820; }
.chip-rock      { --color: #000; --background: #B8A038; }
.chip-ghost     { --color: #fff; --background: #705898; }
.chip-dragon    { --color: #fff; --background: #7038F8; }
.chip-dark      { --color: #fff; --background: #705848; }
.chip-steel     { --color: #000; --background: #B8B8D0; }
.chip-fairy     { --color: #000; --background: #EE99AC; }

.glow-normal    { filter: drop-shadow(0 0 10px #A8A878); }
.glow-fire      { filter: drop-shadow(0 0 10px #F08030); }
.glow-water     { filter: drop-shadow(0 0 10px #6890F0); }
.glow-electric  { filter: drop-shadow(0 0 10px #F8D030); }
.glow-grass     { filter: drop-shadow(0 0 10px #78C850); }
.glow-ice       { filter: drop-shadow(0 0 10px #98D8D8); }
.glow-fighting  { filter: drop-shadow(0 0 10px #C03028); }
.glow-poison    { filter: drop-shadow(0 0 10px #A040A0); }
.glow-ground    { filter: drop-shadow(0 0 10px #E0C068); }
.glow-flying    { filter: drop-shadow(0 0 10px #A890F0); }
.glow-psychic   { filter: drop-shadow(0 0 10px #F85888); }
.glow-bug       { filter: drop-shadow(0 0 10px #A8B820); }
.glow-rock      { filter: drop-shadow(0 0 10px #B8A038); }
.glow-ghost     { filter: drop-shadow(0 0 10px #705898); }
.glow-dragon    { filter: drop-shadow(0 0 10px #7038F8); }
.glow-dark      { filter: drop-shadow(0 0 10px #705848); }
.glow-steel     { filter: drop-shadow(0 0 10px #B8B8D0); }
.glow-fairy     { filter: drop-shadow(0 0 10px #EE99AC); }

