<ion-card  class="full-height" *ngIf="pokemonDetails">
  <ion-card-header></ion-card-header>

  <ion-img [src]="pokemonDetails.sprites.front_default" [alt]="pokemonDetails.name" 
    class="pokemon-image" [ngClass]="'glow-' + pokemonDetails.types[0].type.name.toLowerCase()"></ion-img>

  <ion-card-content>
    <div class="type-container">
      <div class="chips-wrapper">
        <ion-chip *ngFor="let t of pokemonDetails.types" [ngClass]="'chip-' + t.type.name.toLowerCase()" class="type-chip">
          {{ t.type.name | titlecase }}
        </ion-chip>
      </div>
  
    </div>

    <p><strong>Descrição:</strong> {{ description }}</p>

    <p><strong>Altura:</strong> {{ (pokemonDetails.height / 10) | number:'1.1-1' }} m</p>
    <p><strong>Peso:</strong> {{ (pokemonDetails.weight / 10) | number:'1.1-1' }} kg</p>

    <p>
      <strong>Habilidades:</strong>
      <span *ngFor="let ab of pokemonDetails.abilities; let last = last">
        {{ ab.ability.name | titlecase }}<span *ngIf="!last">, </span>
      </span>
    </p>
  </ion-card-content>
</ion-card>